$back: #F3F2F0;
$back_main: #E7E6E6;
$dark: #010101;
$red: #D40000;
$light: #FFFFFF;
$gray: #e7e6e4;

$font: "Inter", sans-serif;

$r_desk: 1135px;
$r_desk_mini: 1000px;
$r_tab: 768px;
$r_mobail_500: 500px;
$r_mobail_400: 400px;
$r_mobail: 360px;

$tr: 0.3s;